<h1>Login</h1>

<form method="POST" action="/auth/signin">

    
         <label> Email Address </label>
         <input type="email" name="emailAddress" class="form-control">

         <label> Password </label>
         <input type="password" name="password" class="form-control">
     <br>
         <button type="submit" class="btn btn-primary">Sign In</button>
     
</form>