<h1>create a new account</h1>
<a href="/auth/signin">login</a>

<form method="POST" action="/auth/signup">

        <label>firstname:</label>
        <input type="text" name="firstName"/>

        <label>lastname:</label>
        <input type="text" name="lastName"/>

        <label>email:</label>
        <input type="text" name="emailAddress"/>

        <label>password:</label>
        <input type="text" name="password"/>

        <br>

        <button type="submit">sign up</button>
</form>