<!DOCTYPE html>
<html>
  <head>
    <title>addpostpage</title>
    
  </head>
  <body>
<h1>add event page</h1>

<a href="/">home</a>


<form action="/main/addEvent" method="POST">
    <label>name:</label><br>
    <input name="name" type="text"><br>
    <label>description:</label><br>
    <input name="description" type="text"><br>
    <label>photo:</label><br>
    <input name="photo" type="text"><br>
    <label>location:</label><br>
    <input name="location" type="text"><br>
    <label>price:</label><br>
    <input name="price" type="number"><br>
    <label>date:</label><br>
    <input name="date" type="date"><br>
    
    <input type="submit" value="create">

</form>



</body>
</html>