<h1> create new profil page</h1>
<a href="/">home</a>

<form action="/profile/createprofilepage" method="POSt">
    
    <label>name:</label><br>
    <input name="name" type="text"><br>
    <label>email:</label><br>
    <input name="email" type="text"><br>
    <label>password:</label><br>
    <input name="password" type="text"><br>
    <button type="submit">submit</button>
</form>